In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pylab as pl
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8
import matplotlib.pyplot as pl
import seaborn as sns
from IPython.display import Image
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import matplotlib.pyplot as plt

In [2]:
import plotly
plotly.tools.set_credentials_file(username='leducsang97', api_key='3ccVqVkmejShTTYKhi3r')

In [3]:
data = pd.read_csv('avocado.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,47,2017-02-05,0.66,11274749.11,4377537.67,2558039.85,193764.89,4145406.70,2508731.79,1627453.06,9221.85,conventional,2017,West
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,3403581.49,7838.83,51205.38,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,2072477.62,34196.27,70242.80,conventional,2018,California
3,7,2018-02-04,0.83,10565056.41,3121272.58,3294335.87,142553.21,4006894.75,1151399.33,2838239.39,17256.03,conventional,2018,West
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,2693843.02,344774.59,17495.30,conventional,2016,California

In [4]:
df = data
df = df.rename(index=str, columns={"4046": "Medium", "4225": "Large", "4770":"Extra Large"})
newCol = df['Total Volume'] - df["Medium"]-df["Large"]-df["Extra Large"]
df.insert(loc=7, column="Other", value=newCol)
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,47,2017-02-05,0.66,11274749.11,4377537.67,2558039.85,193764.89,4145406.70,4145406.70,2508731.79,1627453.06,9221.85,conventional,2017,West
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,3462625.70,3403581.49,7838.83,51205.38,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,2176916.69,2072477.62,34196.27,70242.80,conventional,2018,California
3,7,2018-02-04,0.83,10565056.41,3121272.58,3294335.87,142553.21,4006894.75,4006894.75,1151399.33,2838239.39,17256.03,conventional,2018,West
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,3056112.91,2693843.02,344774.59,17495.30,conventional,2016,California

In [5]:
df = df.drop(['Total Bags', 'Small Bags', 'Large Bags','XLarge Bags'], axis=1)

In [6]:
df_Cali = df[df['region']=='California']
df_Cali.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,type,year,region
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,conventional,2018,California
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,conventional,2016,California
8,47,2015-02-01,0.85,9032180.67,4794142.14,3460743.80,177145.49,600149.24,conventional,2015,California
11,34,2015-05-03,0.88,8567534.49,4340117.03,3403145.10,192473.92,631798.44,conventional,2015,California

In [7]:
df_Cali = df_Cali.drop(['region'], axis=1)

In [8]:
df_Cali.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,type,year
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,conventional,2017
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,conventional,2018
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,conventional,2016
8,47,2015-02-01,0.85,9032180.67,4794142.14,3460743.80,177145.49,600149.24,conventional,2015
11,34,2015-05-03,0.88,8567534.49,4340117.03,3403145.10,192473.92,631798.44,conventional,2015

In [9]:
Q1 = (df_Cali['Date'].dt.quarter==1)
Q2 = (df_Cali['Date'].dt.quarter==2)
Q3 = (df_Cali['Date'].dt.quarter==3)
Q4 = (df_Cali['Date'].dt.quarter==4)
a_2018 = (df_Cali['year']==2018)
a_2017 = (df_Cali['year']==2017)
a_2016 = (df_Cali['year']==2016)
a_2015 = (df_Cali['year']==2015)

Organic = (df_Cali['type']=='organic')
Conv = (df_Cali['type']=='conventional')

In [10]:
df_Cali.insert(loc=2, column="Q4", value=Q4)
df_Cali.insert(loc=2, column="Q3", value=Q3)
df_Cali.insert(loc=2, column="Q2", value=Q2)
df_Cali.insert(loc=2, column="Q1", value=Q1)

df_Cali.insert(loc=12, column="2015", value=a_2015)
df_Cali.insert(loc=12, column="2016", value=a_2016)
df_Cali.insert(loc=12, column="2017", value=a_2017)
df_Cali.insert(loc=12, column="2018", value=a_2018)

In [11]:
df_Cali.insert(loc=14, column="organic", value=Organic)
df_Cali.insert(loc=14, column="conventional", value=Conv)

In [12]:
time_2017 = pd.Timestamp(year=2017, month=1, day=1)
df_Cali_train = df_Cali[df_Cali['Date']<time_2017]
df_Cali_predict = df_Cali[df_Cali['Date']>=time_2017]

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split
#from sklearn import cross_validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc
import warnings
warnings.filterwarnings('ignore')

In [14]:
x = df_Cali_train.drop(['Date','type', 'Total Volume','Unnamed: 0','year'], axis = 1)
y = df_Cali_train.AveragePrice
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
mean_squared_error(y_test, reg.predict(x_test))

1.295662015141152e-21

In [16]:
reg.score(x_test, y_test)

1.0

In [17]:
from sklearn import linear_model
lasso = linear_model.Lasso(alpha=0.1).fit(x_train, y_train)
lasso.predict(x_test)
mean_squared_error(y_test, lasso.predict(x_test))

0.043346850369589594

In [18]:
lasso.score(x_test, y_test)

0.673287563816108

In [21]:
x_train

,Q1,Q2,Q3,Q4,AveragePrice,Medium,Large,Extra Large,Other,2018,2017,conventional,organic,2016,2015
8661,False,True,False,False,1.48,54176.97,51542.88,0.00,13339.71,False,False,False,True,False,True
9384,False,False,True,False,1.96,24630.76,52035.43,0.00,13574.24,False,False,False,True,False,True
86,False,True,False,False,0.84,2507347.38,2355998.94,325242.94,1744793.14,False,False,True,False,True,False
237,False,False,True,False,1.15,2357903.80,1924933.51,117423.95,1675327.42,False,False,True,False,True,False
6828,False,True,False,False,1.37,22352.56,102703.17,4.59,86020.97,False,False,False,True,True,False
7204,False,False,True,False,1.56,21895.14,83894.93,12.45,82691.71,False,False,False,True,True,False
7263,False,False,True,False,1.56,22033.28,82329.89,26.42,80650.09,False,False,False,True,True,False
6847,False,False,True,False,1.48,22201.70,79011.43,0.00,108825.42,False,False,False,True,True,False
9242,False,False,False,True,2.02,13352.47,54624.49,7.72,27614.57,False,False,False,True,True,False
6769,True,False,False,False,1.28,16583.50,95085.10,4.55,102985.32,False,False,False,True,True,False
392,True,False,False,False,1.10,2609532.63,1869271.31,193577.55,669440.18,False,False,True,False,False,True
322,False,True,False,False,1.10,3163839.74,1610910.07,212173.21,654819.00,False,False,True,False,False,True
160,False,True,False,False,1.01,2597934.17,1869930.06,328653.80,1709716.83,False,False,True,False,True,False
181,False,True,False,False,0.98,3614314.44,1860329.30,221330.48,678868.68,False,False,True,False,False,True
320,False,False,True,False,1.08,3104607.82,1660274.32,233027.36,649475.65,False,False,True,False,False,True
293,False,False,False,True,0.78,1943065.50,2100246.17,221957.26,1510267.34,False,False,True,False,False,True
8427,False,False,False,True,1.98,15488.42,67537.91,12.36,45928.26,False,False,False,True,True,False
476,True,False,False,False,1.06,2380955.61,1827783.28,150535.50,570609.87,False,False,True,False,False,True
145,True,False,False,False,0.89,1873878.11,2020327.87,302210.56,2391861.16,False,False,True,False,True,False
8554,False,True,False,False,1.52,55948.06,57078.01,1.49,10823.78,False,False,False,True,False,True
7272,True,False,False,False,1.42,14744.95,92064.48,7.58,77817.35,False,False,False,True,True,False
284,False,False,True,False,1.09,2859325.91,2077193.60,240185.00,629688.27,False,False,True,False,False,True
8715,False,True,False,False,1.67,46841.35,61727.62,0.00,8344.82,False,False,False,True,False,True
273,True,False,False,False,0.91,2908845.38,2200393.89,149458.93,612526.38,False,False,True,False,False,True
9032,False,False,False,True,1.60,20050.21,63408.14,0.00,20872.84,False,False,False,True,False,True
8138,True,False,False,False,1.24,107490.73,25711.96,2.93,9144.15,False,False,False,True,False,True
6585,False,True,False,False,1.24,16747.64,132440.93,0.00,76157.99,False,False,False,True,True,False
7790,True,False,False,False,1.10,123712.51,25975.27,1.47,8421.43,False,False,False,True,False,True
6854,False,False,True,False,1.58,24660.35,110483.19,21.71,74330.35,False,False,False,True,True,False
9046,False,False,False,True,1.64,20902.94,66867.39,0.00,16147.70,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,False,False,False,True,0.98,2317858.81,1758964.54,216523.58,855636.58,False,False,True,False,False,True
8838,True,False,False,False,1.30,64969.37,40012.49,0.00,7302.71,False,False,False,True,False,True
417,False,False,True,False,1.18,2805887.74,1629871.75,188207.47,601233.56,False,False,True,False,False,True
6944,False,True,False,False,1.51,34450.42,103277.20,18.59,66646.18,False,False,False,True,True,False
8301,False,True,False,False,1.50,60597.97,63560.02,0.00,11385.90,False,False,False,True,False,True
9423,False,False,True,False,1.99,23875.92,56393.97,0.00,8693.72,False,False,False,True,False,True
369,False,False,True,False,1.13,2747299.98,1923893.11,157478.05,622965.78,False,False,True,False,False,True
408,False,True,False,False,1.08,2923673.93,1649623.66,168597.35,547243.56,False,False,True,False,False,True
162,False,True,False,False,0.90,2238875.14,2178820.82,329737.94,1754547.18,False,False,True,False,True,False
8651,False,True,False,False,1.50,59861.05,49554.48,0.00,10133.75,False,False,False,True,False,True
427,False,False,True,False,1.18,2626977.95,1798911.33,222082.91,545248.81,False,False,True,False,False,True
9571,False,False,False,True,1.75,13195.19,48229.29,0.00,21991.06,False,False,False,True,False,True
8779,False,True,False,False,1.67,49301.79,52704.34,6.16,12393.86,False,False,False,True,False,True
9386,False,False,True,False,1.98,23449.10,55879.18,0.00,10797.14,False,False,False,True,False,True
233,False,False,True,False,1.20,2019596.60,2147541.33,302735.37,1634174.08,False,False,True,False,True,False
307,True,False,False,False,0.96,3315163.60,1620462.13,169907.54,594411.66,False,False,True,False,False,True
7818,True,False,False,False,1.38,13085.23,84118.36,78.91,59303.75,False,False,False,True,True,False
473,False,False,False,True,1.02,1461112.39,2788317.94,222260.58,472090.38,False,False,True,False,False,True
364,False,False,True,False,1.22,1888694.03,1934688.42,112714.97,1535467.86,False,False,True,False,True,False
462,False,False,False,True,1.07,1847991.31,2286235.79,217814.17,646990.52,False,False,True,False,False,True
208,False,False,True,False,1.10,3260775.73,2196704.97,193831.60,580768.97,False,False,True,False,False,True
154,False,True,False,False,1.06,2409003.00,2045112.18,319711.53,1754229.47,False,False,True,False,True,False
101,True,False,False,False,0.82,1998149.71,1974912.11,278558.48,2555662.85,False,False,True,False,True,False
971,False,False,False,True,1.68,1126017.42,1186843.99,92064.47,734907.62,False,False,True,False,True,False
9356,False,False,False,True,1.48,17839.96,47527.65,1.53,25842.39,False,False,False,True,False,True
344,False,False,True,False,1.13,3112921.78,1636659.90,209427.05,598607.54,False,False,True,False,False,True
9256,False,False,True,False,1.97,34760.74,54821.89,0.00,5648.05,False,False,False,True,False,True
6976,False,True,False,False,1.50,26935.79,102253.41,0.00,73452.72,False,False,False,True,True,False
251,True,False,False,False,0.96,3484274.60,1649936.05,184720.58,671312.66,False,False,True,False,False,True
8733,False,True,False,False,1.68,51607.99,54937.64,43.18,9733.63,False,False,False,True,False,True

In [20]:
data['year'].value_counts()

2017    5669
2016    5564
2015    5563
2018    1284
Name: year, dtype: int64