In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pylab as pl
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8
import matplotlib.pyplot as pl
import seaborn as sns
from IPython.display import Image
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import matplotlib.pyplot as plt

In [2]:
import plotly
plotly.tools.set_credentials_file(username='leducsang97', api_key='3ccVqVkmejShTTYKhi3r')

In [3]:
data = pd.read_csv('avocado.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,47,2017-02-05,0.66,11274749.11,4377537.67,2558039.85,193764.89,4145406.70,2508731.79,1627453.06,9221.85,conventional,2017,West
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,3403581.49,7838.83,51205.38,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,2072477.62,34196.27,70242.80,conventional,2018,California
3,7,2018-02-04,0.83,10565056.41,3121272.58,3294335.87,142553.21,4006894.75,1151399.33,2838239.39,17256.03,conventional,2018,West
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,2693843.02,344774.59,17495.30,conventional,2016,California

In [4]:
df = data
df = df.rename(index=str, columns={"4046": "Medium", "4225": "Large", "4770":"Extra Large"})
newCol = df['Total Volume'] - df["Medium"]-df["Large"]-df["Extra Large"]
df.insert(loc=7, column="Other", value=newCol)
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,47,2017-02-05,0.66,11274749.11,4377537.67,2558039.85,193764.89,4145406.70,4145406.70,2508731.79,1627453.06,9221.85,conventional,2017,West
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,3462625.70,3403581.49,7838.83,51205.38,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,2176916.69,2072477.62,34196.27,70242.80,conventional,2018,California
3,7,2018-02-04,0.83,10565056.41,3121272.58,3294335.87,142553.21,4006894.75,4006894.75,1151399.33,2838239.39,17256.03,conventional,2018,West
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,3056112.91,2693843.02,344774.59,17495.30,conventional,2016,California

In [5]:
df = df.drop(['Total Bags', 'Small Bags', 'Large Bags','XLarge Bags'], axis=1)

In [6]:
df_Cali = df[df['region']=='California']
df_Cali.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,type,year,region
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,conventional,2017,California
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,conventional,2018,California
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,conventional,2016,California
8,47,2015-02-01,0.85,9032180.67,4794142.14,3460743.80,177145.49,600149.24,conventional,2015,California
11,34,2015-05-03,0.88,8567534.49,4340117.03,3403145.10,192473.92,631798.44,conventional,2015,California

In [7]:
df_Cali = df_Cali.drop(['region'], axis=1)

In [8]:
df_Cali.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Medium,Large,Extra Large,Other,type,year
1,47,2017-02-05,0.67,11213596.29,3986429.59,3550403.07,214137.93,3462625.70,conventional,2017
2,7,2018-02-04,0.80,10894677.77,4473811.63,4097591.67,146357.78,2176916.69,conventional,2018
4,46,2016-02-07,0.70,10361698.17,2930343.28,3950852.38,424389.60,3056112.91,conventional,2016
8,47,2015-02-01,0.85,9032180.67,4794142.14,3460743.80,177145.49,600149.24,conventional,2015
11,34,2015-05-03,0.88,8567534.49,4340117.03,3403145.10,192473.92,631798.44,conventional,2015

In [9]:
Q1 = (df_Cali['Date'].dt.quarter==1)
Q2 = (df_Cali['Date'].dt.quarter==2)
Q3 = (df_Cali['Date'].dt.quarter==3)
Q4 = (df_Cali['Date'].dt.quarter==4)
a_2018 = (df_Cali['year']==2018)
a_2017 = (df_Cali['year']==2017)
a_2016 = (df_Cali['year']==2016)
a_2015 = (df_Cali['year']==2015)

Organic = (df_Cali['type']=='organic')
Conv = (df_Cali['type']=='conventional')

In [10]:
df_Cali.insert(loc=2, column="Q4", value=Q4)
df_Cali.insert(loc=2, column="Q3", value=Q3)
df_Cali.insert(loc=2, column="Q2", value=Q2)
df_Cali.insert(loc=2, column="Q1", value=Q1)

df_Cali.insert(loc=12, column="2015", value=a_2015)
df_Cali.insert(loc=12, column="2016", value=a_2016)
df_Cali.insert(loc=12, column="2017", value=a_2017)
df_Cali.insert(loc=12, column="2018", value=a_2018)

In [11]:
df_Cali.insert(loc=14, column="organic", value=Organic)
df_Cali.insert(loc=14, column="conventional", value=Conv)

In [12]:
time_2017 = pd.Timestamp(year=2017, month=1, day=1)
df_Cali_train = df_Cali[df_Cali['Date']<time_2017]
df_Cali_predict = df_Cali[df_Cali['Date']>=time_2017]

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split
#from sklearn import cross_validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc
import warnings
warnings.filterwarnings('ignore')

In [14]:
x = df_Cali_train.drop(['Date','type', 'Total Volume','Unnamed: 0','year'], axis = 1)
y = df_Cali_train.AveragePrice
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
mean_squared_error(y_test, reg.predict(x_test))

1.295662015141152e-21

In [16]:
reg.score(x_test, y_test)

1.0

In [17]:
from sklearn import linear_model
lasso = linear_model.Lasso(alpha=0.1).fit(x_train, y_train)
lasso.predict(x_test)
mean_squared_error(y_test, lasso.predict(x_test))

0.043346850369589594

In [18]:
lasso.score(x_test, y_test)

0.673287563816108

In [19]:
x_test

,Q1,Q2,Q3,Q4,AveragePrice,Medium,Large,Extra Large,Other,2018,2017,conventional,organic,2016,2015
118,False,False,True,False,1.12,3581149.88,2120303.06,254187.47,762371.42,False,False,True,False,False,True
418,False,False,True,False,1.04,1860050.39,2635028.38,206460.07,515245.79,False,False,True,False,False,True
196,True,False,False,False,0.87,1736168.01,2173554.18,261931.07,2131753.56,False,False,True,False,True,False
25,False,True,False,False,0.75,2817406.20,2628579.48,291448.73,1924048.96,False,False,True,False,True,False
9170,False,False,False,True,1.45,14306.68,50893.97,0.00,33375.98,False,False,False,True,False,True
444,False,False,True,False,1.13,1863270.81,2388023.33,270794.34,584419.64,False,False,True,False,False,True
6964,False,True,False,False,1.49,22713.10,99956.65,0.00,80493.87,False,False,False,True,True,False
7092,True,False,False,False,1.24,123138.29,58616.16,0.00,13453.15,False,False,False,True,False,True
479,False,True,False,False,1.15,2421009.67,1729486.77,196469.02,576599.58,False,False,True,False,False,True
8442,False,False,False,True,1.64,20010.88,59840.22,49.16,48304.37,False,False,False,True,True,False
246,True,False,False,False,0.96,1750943.52,1855262.70,317337.27,2094020.39,False,False,True,False,True,False
8519,True,False,False,False,1.45,16081.34,66398.85,0.00,43061.69,False,False,False,True,True,False
274,False,True,False,False,1.05,3024466.22,2070974.14,177354.82,598285.63,False,False,True,False,False,True
9199,False,False,False,True,1.59,16244.94,59089.47,0.00,21930.82,False,False,False,True,False,True
537,False,False,False,True,1.12,1733791.31,2025016.15,215622.63,618031.72,False,False,True,False,False,True
453,False,False,False,True,0.90,1833946.59,1760956.02,232755.85,1212707.01,False,False,True,False,False,True
9643,False,False,True,False,1.85,20639.23,50992.30,0.00,9103.05,False,False,False,True,False,True
213,False,False,True,False,1.14,2196723.33,2037093.61,278664.44,1688132.30,False,False,True,False,True,False
343,True,False,False,False,1.02,2780859.66,2108450.36,121614.31,559990.93,False,False,True,False,False,True
142,True,False,False,False,0.93,1935666.12,2149391.86,311356.91,2207293.04,False,False,True,False,True,False
8717,False,False,False,True,1.89,24442.77,50935.56,10.75,41506.20,False,False,False,True,True,False
121,False,False,True,False,0.99,2683109.80,1878139.55,133979.15,2001071.55,False,False,True,False,True,False
67,False,False,True,False,1.10,2409025.69,2439611.73,356022.10,1882795.64,False,False,True,False,True,False
291,True,False,False,False,0.93,2843648.26,2267755.26,137479.64,528451.74,False,False,True,False,False,True
486,False,False,False,True,1.40,1635631.14,1600568.32,108458.09,1533380.09,False,False,True,False,True,False
7446,False,False,True,False,1.63,20282.39,79271.95,9.33,75859.05,False,False,False,True,True,False
7127,False,True,False,False,1.50,24728.30,101839.43,3.07,65963.15,False,False,False,True,True,False
7124,False,False,True,False,1.59,21165.43,91337.45,7.76,80290.29,False,False,False,True,True,False
8557,False,False,True,False,1.95,12970.52,73572.34,10.84,37154.30,False,False,False,True,True,False
9099,False,False,False,True,1.66,17074.60,62469.04,0.00,21776.51,False,False,False,True,False,True
385,False,False,False,True,1.34,2021375.04,1750074.56,123430.31,1481098.59,False,False,True,False,True,False
8303,False,False,True,False,1.67,50367.92,74571.56,18.66,10564.51,False,False,False,True,False,True
7783,True,False,False,False,1.47,11345.11,87139.61,97.12,59940.92,False,False,False,True,True,False
366,False,True,False,False,1.12,2754464.87,1886168.89,225396.85,601124.94,False,False,True,False,False,True
9168,False,False,False,True,1.39,13609.24,46518.56,3.05,38474.55,False,False,False,True,False,True
8237,False,False,False,True,1.91,15505.79,70707.24,21.66,52759.87,False,False,False,True,True,False
8853,False,False,False,True,2.04,21468.08,49401.43,9.22,40972.79,False,False,False,True,True,False
7022,True,False,False,False,1.41,18235.75,101106.75,0.00,80573.42,False,False,False,True,True,False
124,False,False,True,False,1.08,2501655.40,2179345.27,107653.45,1892992.02,False,False,True,False,True,False
7499,True,False,False,False,1.46,15752.00,89041.95,7.60,67395.14,False,False,False,True,True,False
9231,False,False,False,True,2.49,17620.85,52989.92,1.54,25482.79,False,False,False,True,True,False
157,False,True,False,False,0.94,2248561.59,1958358.83,358015.82,1944064.32,False,False,True,False,True,False
6101,False,True,False,False,1.25,19169.71,147864.84,0.00,89634.58,False,False,False,True,True,False
7846,True,False,False,False,1.43,17862.54,79184.75,124.41,58147.65,False,False,False,True,True,False
22,True,False,False,False,0.73,2315175.35,2856102.41,257268.16,2301885.36,False,False,True,False,True,False
376,False,False,False,True,0.94,1579234.89,2192460.84,99997.75,1543243.98,False,False,True,False,True,False
7711,True,False,False,False,1.43,14702.41,81578.02,12.13,64913.51,False,False,False,True,True,False
244,True,False,False,False,0.92,2889591.29,2485720.10,103573.42,546047.53,False,False,True,False,False,True
330,False,True,False,False,1.10,2978396.74,1873205.91,195991.06,574119.93,False,False,True,False,False,True
6792,False,False,True,False,1.51,30506.94,89764.31,10.85,93135.77,False,False,False,True,True,False
168,True,False,False,False,0.91,1893617.80,2191468.26,299002.93,2092117.55,False,False,True,False,True,False
706,False,False,False,True,1.48,1326907.02,1367684.96,112541.90,1040994.32,False,False,True,False,True,False

In [20]:
data['year'].value_counts()

2017    5669
2016    5564
2015    5563
2018    1284
Name: year, dtype: int64